<div class="h-full flex flex-col justify-between">

  <div class="mt-4">
    <div class="flex justify-center">
      <span class="text-4xl font-bold text-primary-color-700">Evan</span><span
        class="text-4xl font-bold text-secondary-color-500">Joseph</span>
    </div>

    <div
      class="border-t border-b border-secondary-color-500 h-12 w-full mt-4 flex justify-between content-center items-center overflow-hidden px-2">

      <input type="" name="" value="" class="w-full focus:outline-none px-2 text-xl" [(ngModel)]="input"
        (keyup.backspace)="backspace()" #inputFieldElement>

      <div class="flex justify-end w-16" (click)="clear()">
        <button class="flex hover:text-secondary-color-600 transition-all duration-300 py-2 rounded">
          <mat-icon class="transition-all duration-300 hover:transform hover:rotate-180 mr-2">close</mat-icon>
        </button>

      </div>

    </div>

    <div class="px-4 py-2 text-black font-bold text-xl min-h-8 mt-4 flex gap-4">
      <p class="text-secondary-color-500">></p> {{calculatorService.solveExpression(input)}}
    </div>
  </div>

  <div class="bg-violet-500 w-screen h-72 sm:w-96 grid grid-cols-6 " id="">
    <app-btn [label]="extraBtns ? 'arrow_back' : 'add_circle'" [icon]="true" (click)="toggleExtraBtns()"></app-btn>
    <app-btn [label]="extraBtns ? 'i' : '!'" (click)="extraBtns ? keyboard('i') : keyboard('!')"></app-btn>
    <app-btn [label]="extraBtns ? '≠' : '='" (click)="extraBtns ? keyboard('≠') : keyboard('=')"></app-btn>
    <app-btn [label]="extraBtns ? '≤' : '<'" (click)="extraBtns ? keyboard('≤') : keyboard('chevron_left')"
      [icon]="false"></app-btn>
    <app-btn [label]="extraBtns ? '≥' : '>'" (click)="extraBtns ? keyboard('≥') : keyboard('≥')"
      [icon]="false"></app-btn>
    <app-btn label="backspace" (click)="backspace()" [icon]="true"></app-btn>

    <app-btn [label]="extraBtns ? '[' : '('" (click)="extraBtns ? keyboard('[') : keyboard('(')"></app-btn>
    <app-btn [label]="extraBtns ? ']' : ')'" (click)="extraBtns ? keyboard(']') : keyboard(')')"></app-btn>
    <app-btn label="7" (click)="keyboard('7')"></app-btn>
    <app-btn label="8" (click)="keyboard('8')"></app-btn>
    <app-btn label="9" (click)="keyboard('9')"></app-btn>
    <app-btn [label]="extraBtns ? '%' : '÷'" (click)="extraBtns ? keyboard('%') : keyboard('÷')"></app-btn>

    <app-btn label="sen" (click)="keyboard('sen(')"></app-btn>
    <app-btn label="cos" (click)="keyboard('cos(')"></app-btn>
    <app-btn label="4" (click)="keyboard('4')"></app-btn>
    <app-btn label="5" (click)="keyboard('5')"></app-btn>
    <app-btn label="6" (click)="keyboard('6')"></app-btn>
    <app-btn label="×" (click)="keyboard('×')"></app-btn>

    <app-btn label="e" (click)="keyboard('e')"></app-btn>
    <app-btn label="^" (click)="keyboard('^')"></app-btn>
    <app-btn label="1" (click)="keyboard('1')"></app-btn>
    <app-btn label="2" (click)="keyboard('2')"></app-btn>
    <app-btn label="3" (click)="keyboard('3')"></app-btn>
    <app-btn label="-" (click)="keyboard('-')"></app-btn>

    <app-btn label="π" (click)="keyboard('π')"></app-btn>
    <app-btn label="√" (click)="keyboard('sqrt(')"></app-btn>
    <app-btn label="." (click)="keyboard('.')"></app-btn>
    <app-btn label="0" (click)="keyboard('0')"></app-btn>
    <app-btn label="," (click)="keyboard(',')"></app-btn>
    <app-btn label="+" (click)="keyboard('+')"></app-btn>
  </div>

</div>
